@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: #f9fafb;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
}
